{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ECO</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://kit.fontawesome.com/95f3aa8ce1.js"></script>
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo" id="head">&nbsp;&nbsp;<i class="fas fa-leaf"></i>ECO</a></li>
        </ul>
        <div class="top-menu">
          {% if user.is_authenticated %}
            <ul class="right">
              <li><a href="{%url 'posts'%}" id="texta">Posts</a></li>
              <li><a href="{% url 'posts_create' %}" id="texta">Add</a></li>
              <li><a href="{%url 'profile'%}" id="texta">Profile</a></li>
              {% else %}
              <div class="orig1 right">
                <a href="{% url 'signup' %}" id="textc">Sign Up</a>
                <a href="{% url 'login' %}" id="textc">Log In</a>
              </div>
              {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <main class="container" style=" margin: 0; ">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer"
    >
    {% if user.is_authenticated %}
    <ul class="center">
      <li><a href="{%url 'posts'%}" id="textb"><i class="fas fa-camera-retro"
            style="font-size:40px; color: white; display: flex; justify-content: center;"></i> Posts</a></li>
      <li><a href="{% url 'posts_create' %}" id="textb"><i class="fas fa-plus-circle"
            style="font-size: 40px; color: white; display: flex; justify-content: center;"></i>Add</a></li>
      <li><a href="{%url 'profile'%}" id="textb"><i class="glyphicon glyphicon-user"
            style="font-size:40px; color: white; display: flex; justify-content: center;"></i> Profile</a></li>
      {% else %}
      <div class="orig">
        <a href="{% url 'signup' %}" id="textd">Sign Up</a>
        <a href="{% url 'login' %}" id="textd">Log In</a>
      </div>
      {% endif %}
    </ul>
  </footer>
</body>

</html>