{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ECO</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/95f3aa8ce1.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo" id="head">&nbsp;&nbsp;<i class="fas fa-leaf" style="color:#91C01D;"></i>ECO</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    {% if user.is_authenticated %}
    <ul class="center">
        <li><a href="{%url 'posts'%}" id="text"><i class="fas fa-camera-retro" style="font-size:25px; color: white;"></i> Posts</a></li>
        <li><a href="{% url 'posts_create' %}">ADD</a></li>
        <li><a href="{%url 'profile'%}" id="text"><i class="glyphicon glyphicon-user" style="font-size:25px; color: white;"></i> Profile</a></li>
        <li><a href="{% url 'logout' %}" id="text">Log Out</a></li>
  {% else %}
    <a href="{% url 'login' %}" id="text">Log In</a>
  {% endif %}
    </ul>
  </footer>
</body>
</html>

