{% extends 'base.html' %}
{% block content %}

<h1>Prizes</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">Take a picture on a metro</span>
        <p>Points: 5</p>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <span class="card-title">Take a picture on a bike</span>
        <p>Points: 10</p>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <span class="card-title">Take a picture on a walk</span>
        <p>Points: 10</p>
    </div>
</div>

{% endblock %}