{% extends 'base.html' %}
{% block content %}

<h1>Posts</h1>

{% for post in posts %}
<a href="{% url 'detail' post.id %}">
  <div class="card" style="display: flex; justify-content: center; height: 100%; width: 100%;">
    <div class="card-content">
        <img class="posts" src="{{post.photo}}" style="height: 100%; width: 100%; object-fit: cover;">
        <!-- <span class="card-title">{{ post.challenge }}</span> -->
      <!-- <p>Challenge: {{ post.challenge }}</p> -->
      <p id="text" style="padding-top: 5px; font-size: 100%;">{{ post.description }}</p>
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}