{% extends 'base.html' %}
{% block content %}

<h1>My Profile</h1>
<div id="textp">Name:</div>
<div id="textp">Email:</div>
<div id="textp">City:</div>
<hr />
<div id="textp">Current Points:</div>
<hr />
<div id="textp">Recent Posts</div>
{% for photo in post.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
    <div id="textp" class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<form action="{% url 'logout' %}" id="textb">
    <button type='submit'>Log Out</button>
</form>
{% endblock %}