body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
}

div.card {
justify-items: center;
}

h1 {
  margin: 20px;
}

div.orig {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

#head {
  color: black;
  font-size: 25px;
}

#text, #textp, #textb {
  color: black;
  font-size: 20px;
  font-weight: 800;
}

.card .card-title {
  font-weight: 900;
}

#texto {
  font-weight: 800;
  font-size: 17px;
  color: green;
}

#texto:hover {
  font-weight: 900;
  color: black;
}

#text:hover {
  font-weight: 900;
  color: green;
}

#textb:hover {
  font-weight: 900;
  text-decoration: underline white;
}

div.card-content {
  color: black;
  font-weight: 500;
}

ul.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

nav {
    background: green;
    margin: 0 auto;
}
  
main {
    flex: 1 0 auto;
  }
  
footer.page-footer {
    margin-bottom: 0;
    padding-top: 0;
    background-color: green;
  }
  

div.center {
    color: white;
}

