{% extends 'base.html' %}
{% block content %}

<!-- <div class="card">
  <div class="card-content"> -->
    <!-- <span class="card-title">{{ post.name }}</span> -->
    <img class="posts" src="{{post.photo}}" style="margin-top: 30px; margin-bottom: 10px; height: 100%; width: 100%; object-fit: cover; max-height: 60vmax; max-width: 60vmax;">
    <p id="textp">Challenge: {{ post.challenge }}</p>
    <p id="textp">Description: {{ post.description }}</p>
    <p id="textp">Points: {{ post.points }}</p>
    <div class="card-action">
      <a href="{% url 'posts_update' post.id %}" id="texto">Edit</a>
      <a href="{% url 'posts_delete' post.id %}" id="texto">Delete</a>
    </div>
  <!-- </div>
</div> -->

{% endblock %}